@import url("https://fonts.googleapis.com/css2?family=Gulzar&family=Orbitron&family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap");

section{
  border-color: antiquewhite;
}

.UserInput{
    padding: 100px  0px 100px 0px;
    background-color: antiquewhite;
}

.formInput{
    margin: 0px 300px  0px 300px ;
    padding: 50px;
    text-align: center;
    background-color: cornflowerblue;
    border-radius: 25% 10%;
}
